/* Goole font poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
/* Font family 
font-family: 'Poppins', sans-serif;
*/
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.main-container {
  width: 80%;
  margin: 0 auto;
}
/*---------- Top Banner Started ----------*/
header {
  display: flex;
  width: 100%;
  background-color: #161616;
  border-radius: 30px;
}
.header-text {
  width: 40%;
  color: white;
  /* margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 50px; */
  padding: 80px 50px 90px 50px;
  margin-top: 0px;
}
.header-text h1 {
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 10px;
}
.header-text p {
  margin-bottom: 40px;
  font-weight: 300;
}
.header-img {
  width: 60%;
}
.live-btn {
  background-color: #dd0000;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
.live-btn i {
  margin-left: 10px;
}
/*---------- Top Banner Ended ----------*/
/*---------- Main Section Started ----------*/
.main-section {
  margin-top: 100px;
}
.main {
  display: flex;
}
/* Nav started */
nav {
  width: 20%;
  height: 160px;
  display: flex;
  flex-direction: column;
  background-color: #161616;
  padding: 20px;
  border-radius: 10px;
  margin-right: 10px;
}
nav a {
  color: #161616;
  text-decoration: none;
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 15px;
  text-align: center;
}
.bottom {
  margin-bottom: 0;
}
/* Nav ended */
/* article started */
article {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

.cards {
  border: 0.25px solid #e8e8e8;
  border-radius: 9px;
  padding-bottom: 10px;
}
.cards .card-info {
  padding-right: 10px;
}
.card-info {
  margin-left: 10px;
}
.cards img {
  margin-bottom: 10px;
  width: 100%;
}
.cards a {
  text-decoration: none;
  color: #161616;
  border: 1px solid #161616;
  padding: 4px 10px;
  border-radius: 5px;
}
.review {
  display: flex;
}
.cards p span {
  margin-left: 10px;
}
.cards .p2 {
  margin-left: 40px;
}
/* article ended */
/*---------- Main Section Ended ----------*/
/*---------- Footer Start ----------- */
footer {
  margin-top: 100px;
  padding: 90px 90px;
  background-color: #1e1e1e;
}
.footer-box h3 {
  text-align: center;
  font-size: 35px;
  color: white;
}
.footer-box hr {
  border: none;
  height: 0.25px;
  background-color: #b9b9b9;
}
.footer-info {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  column-gap: 50px;
}
.footer-info a {
  text-decoration: none;
  color: #b9b9b9;
}
.icon {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  column-gap: 60px;
}
.icon a {
  text-decoration: none;
  color: #b9b9b9;
  font-size: 20px;
}
/*---------- Footer End ----------- */

/* /* ----------------
 Media Queries 
 -------------------*/
/* Tablet Devices */
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .main {
    display: flex;
    flex-wrap: wrap;
  }
  nav {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    background-color: white;

    border-radius: 10px;
  }
  nav a {
    width: 130px;
    height: 33px;
    font-size: 14px;
    color: #161616;
    text-decoration: none;
    background-color: #e8e8e8;
    padding: 10px 20px 0px 20px;
    border-radius: 10px;
    border: 1px solid #e8e8e8;
    text-align: center;
  }
  article {
    width: 100%;
  }
}
